@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #EEF9BF;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EEF9BF;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  color: #75B79E;
  text-align: center;
  margin: 40px 0;
}

.board {
  max-width: 872px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 34px;
  padding: 40px 80px;
}

.flip-container {
  width: 117px;
  height: 146px;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.card {
  width: 100%;
	height: 100%;
  transition: transform 0.8s;
	transform-style: preserve-3d;
  position: relative;
  background: #A7E9AF;
  border: 1px solid #99CEA8;
  border-radius: 5px;
}

.back{
	transform: rotateY(180deg);
}

.front,
.back {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
	width: 100%;
	height: 100%;
  backface-visibility: hidden;
}

.front img,
.back img {
  width: 100px;
}

.clicked .card{
	transform: rotateY(-180deg);
}

@media screen and (max-width: 331px) {
  h1 {
    font-size: 36px;
  }
}